            <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">  
            <div class="container">
                <ul id="slide-out" class="sidenav">
                    <li>
                      <div class="user-view">
                      <div class="background">
                        <img src="assets/img/Grey.jpeg">
                      </div>
                      <a href="#user"><img class="circle" src="assets/img/Twitchlogo2.png"></a>
                      <a href="#name"><span class="white-text name">Join the Twitch Community!</span></a>
                      <a href="#email"><span class="white-text email">Discover the best live streams anywhere.</span></a>
                    </div></li>
                    <li><a class="subheader"><i class="material-icons">cloud</i>Popular Channels</a></li>
                    <li><a href="#!">Streamer 1</a></li>
                    <li><a href="#!">Streamer 2</a></li>
                    <li><a href="#!">Streamer 3</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="waves-effect" href="#!">Subscribe to Channels</a></li>
                  </ul>
                  <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons">subject</i></a>
              <img class="smaller" src="assets/img/Twitchlogo.png">
               &nbsp;&nbsp;
                  <a href="../" class="navbar-brand">Twitch</a>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink='browse/'>Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink='store'>Store</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Log In</a>
                      <div id="modal1" class="modal">
                          <div class="modal-content">
                            <div class="form-field">
                              <label for="username">Username:</label>
                              <input type="text" id="username">
                            </div><br>
                            <div class="form-field">
                              <label for="password">Password:</label>
                              <input type="text" id="username">
                            </div>
                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Log In</button>
                          </div>
                        </div>
                  </li>
                  &nbsp;&nbsp;
                  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sign Up</a>
                      <div id="modal1" class="modal">
                          <div class="modal-content">
                            <div class="form-field">
                              <label for="username1">Username:</label>
                              <input type="text" id="username">
                            </div><br>
                            <div class="form-field">
                              <label for="password">Password:</label>
                              <input type="text" id="username">
                            </div>
                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Log In</button>
                          </div>
                        </div>
                </ul>
              </div>
            </div>
          </div>
          <div class="alert alert-dismissible alert-info" style="width: 102rem;">
              <img class="card-img-nav" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="color:black">Twitch Prime
                    Monthly games and in-game loot, exclusives, and access to hundreds of movies & TV shows with Prime Video.
                    </p>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
            </div>
    <div class="row">
      <div class="col s10">
          <div class="carousel carousel-slider">
              <a class="carousel-item" href="#one!"><img src="assets/img/APEX.jpg/"></a>
              <a class="carousel-item" href="#two!"><img src="assets/img/PUBG.jpg/"></a>
              <a class="carousel-item" href="#three!"><img src="assets/img/Dota2.jpg/"></a>
              <a class="carousel-item" href="#four!"><img src="assets/img/APEX.jpg"></a>
              <a class="carousel-item" href="#five!"><img src="assets/img/PUBG.jpg"></a>
            </div>
      </div>
      </div>     
            <h5 style="color: black"> Popular <strong>live channels</strong></h5>
     <div class="row">
  <div class="column">
    <div class="card">
        <img class="card-img-live" src="assets/img/LIVE.png" alt="Card image cap">
        <a href="https://www.twitch.tv/directory/game/PLAYERUNKNOWN'S%20BATTLEGROUNDS"><img src="assets/img/PUBGLIVE.jpg"></a>
      <div class="card-body">
        <h5 class="card-title">Predator League 2019 Day 1</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="column">
      <div class="card">
          <img class="card-img-live" src="assets/img/LIVE.png" alt="Card image cap">
         <a href="https://www.twitch.tv/directory/game/Dota%202"><img src="assets/img/Dota2LIVE.jpg"></a>
        <div class="card-body">
          <h5 class="card-title">FeelsOkayMan Any single lads here?</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
  </div>
  <div class="column">
      <div class="card">
          <img class="card-img-live" src="assets/img/LIVE.png" alt="Card image cap">
          <a href="https://www.twitch.tv/directory/game/Apex%20Legends>"><img src="assets/img/APEXLIVE.jpg"></a>
        <div class="card-body">
          <h5 class="card-title">LETS FK SHIT UP @shroud on social for updates</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
  </div>
  <div class="column">
      <div class="card">
          <img class="card-img-live" src="assets/img/LIVE.png" alt="Card image cap">
          <a href="https://www.twitch.tv/directory/game/Overwatch"><img src="assets/img/OverwatchLIVE.jpg"></a>
        <div class="card-body">
          <h5 class="card-title">Overwatch League</h5>
          <p class="card-text"> 2019 Season | Stage 1 Week 1 Day 1 Seoul Dynasty vs Los Angeles Gladiators</p>
        </div>
      </div>
  </div>
</div>
<h5 style="color: black">Popular <a href="https://www.twitch.tv/directory"><strong>categories</strong></a></h5>
<div class="column_1">
    <div class="card">
        <a href="https://www.twitch.tv/directory/game/Apex%20Legends>"><img src="assets/img/CATAPEX.jpg"></a>
        <h5 class="card-title">Apex Legends</h5>
        <p class="card-text">0 viewers</p>
      </div>
    </div>
    <div class="column_1">
        <div class="card">
            <a href="https://www.twitch.tv/directory/game/League%20of%20Legends"><img src="assets/img/CATLOL.jpg"></a>
            <h5 class="card-title">League of Legends</h5>
            <p class="card-text">0 viewers</p>
          </div>
        </div>
        <div class="column_1">
            <div class="card">
                <a href="https://www.twitch.tv/directory/game/Just%20Chatting"><img src="assets/img/CATJC.jpg"></a>
                <h5 class="card-title">Just Chatting</h5>
                <p class="card-text">0 viewers</p>
              </div>
            </div>
            <div class="column_1">
                <div class="card">
                    <a href="https://www.twitch.tv/directory/game/Fortnite"><img src="assets/img/CATFORT.jpg"></a>
                    <h5 class="card-title">Fortnite</h5>
                    <p class="card-text">0 viewers</p>
                  </div>
                </div>
                <div class="column_1">
                    <div class="card">
                        <a href="https://www.twitch.tv/directory/game/Metro%20Exodus"><img src="assets/img/CATME.jpg"></a>
                        <h5 class="card-title">Metro Exodus</h5>
                        <p class="card-text">0 viewers</p>
                      </div>
                    </div>
                    <div class="column_1">
                        <div class="card">
                            <a href="https://www.twitch.tv/directory/game/Dota%202"><img src="assets/img/CATDOTA.jpg"></a>
                            <h5 class="card-title">Dota 2</h5>
                            <p class="card-text">0 viewers</p>
                          </div>
                    </div>
    


    